
<div class = "container">
<h1>TODO List</h1>

  <thead>
    <div class="tit-des">
        <th>Title <hr></th>
        <th id="description-id">Description <hr></th>
        <th><div class="new-task-button"><LinkTo @route="new-task-page">CREATE NEW TASK</LinkTo></div></th>
    </div>
  </thead>
  <tbody>
    {{#each this.allTasks as |task|}}
      <tr>
        <div class = "table-row">
            <div class="table-elements">
               <td>
               <button {{on "click" (fn this.deleteTask task.id)}}>Delete</button>
               </td>
                <td class="todos">{{task.title}}</td>
                <td class = "todos">{{task.description}}</td>
            </div>
            <td class="radio-buttons">
                <input type="radio" name="taskStatus-{{task.id}}" value="başlanmadı"> Başlanmadı<br>
                <input type="radio" name="taskStatus-{{task.id}}" value="devam ediyor"> Devam Ediyor<br>
                <input type="radio" name="taskStatus-{{task.id}}" value="bitti"> Bitti<br>
            </td>

        </div>
      </tr>
    {{/each}}
  </tbody>
</div>

